#sellArticleModal {
  display: flex;
  max-height: 80vh;
  overflow-y: auto;
  align-items: center; 
  justify-content: center; 
  background-color: rgba(255, 255, 255, 0.4); 
  padding: 20px; 
}

.product-container {
  background-color: white;
  padding: 20px;
  padding-right: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: auto; 
  max-width: 600px; 
  margin: 20px;
}

.closeSellArticleModal {
  position: absolute;
  color: #000000;
  float: right;
  font-size: 50px;
  font-weight: bold;
  top: 20px;
  right: 20px;
}

.closeSellArticleModal:hover,
.closeSellArticleModal:focus {
  color: rgb(169, 62, 62);
  text-decoration: none;
  cursor: pointer;
}

label {
  display: block;
  margin-top: 20px;
}

select,
input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.submit-button {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}