#sellArticleModal {
  border-radius: 3%;
  display: none;
  position: fixed;
  z-index: 100;
  left: 30%;
  top: 10%;
  overflow: auto;
  width: 100vh;
  max-height: 80vh;
}

.product-container {
  padding-left: 20px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #e6e6e6 0%, #f0f0f0 50%, #e6e6e6 100%);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  overflow-y: auto;
}

#addArticleForm {
  width: 100%;
}

.closeSellArticleModal {
  position: absolute;
  color: #000000;
  float: right;
  font-size: 50px;
  font-weight: bold;
  top: 20px;
  right: 20px;
}

.closeSellArticleModal:hover,
.closeSellArticleModal:focus {
  color: rgb(169, 62, 62);
  text-decoration: none;
  cursor: pointer;
}

label {
  display: block;
  margin-top: 20px;
}

select,
input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.submit-button {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}